### 1 - Import the Pandas, Numpy, Seaborn, Matplotlib, and Sweetviz libraries.

### 2 - Import the data from a CSV file containing information about Marvel movies, available at: https://www.kaggle.com/rachit239/mcu-complete-dataset.

### 3 - Using the ydata_profiling or Sweetviz library, find the most frequent budget value in the Marvel movies dataset and state the percentage of times this budget was used.

### 4 - Using a Pearson correlation on the Marvel dataset, identify the variables with the highest positive correlation.

### 5 - Go to the Brazilian Open Data Portal and download the CSV file "Relação de Empreendimentos de Geração" (https://dados.gov.br/dataset/relacao-de-empreendimentos-de-geracao). State the license assigned to this data.

### 6 - Import only the first 500 rows of the downloaded CSV file. Note that since this file is from Brazil, you will need to use the encoding='iso-8859-1' parameter in the Pandas read_csv function.

### 7 - From the "Empreendimentos de Geração" data, identify the attribute with the most null values and remove it.

### 8 - From the "Empreendimentos de Geração" data, identify the attribute with the fewest null values and remove the rows where this attribute is null.

### 9 - From the "Empreendimentos de Geração" data, create a new column named "mdaPotenciaOutorgadaMW" based on the "mdaPotenciaOutorgadakW" column. Note that the new column is in Megawatts and the original is in Kilowatts.

### 10 - From the "Empreendimentos de Geração" data, in the "datOperação" column, keep only the date, removing the time information from the values.

### 11 - From the "Empreendimentos de Geração" data, create a new column based on "sigTipoGeracao" where the categorical (qualitative) values are replaced with numerical ones.