##Course - Introduction to Data Science - Univesp
##Week 2 Support Exercises

###1 - Load the NumPy and Pandas libraries

###2 - Create an NDArray with the following values [1, 2.5, 7, -78, -0.9, 130, 25]

###3 - Create an NDArray with values from 0 to 10

###4 – Create a 2x5 NDArray with values of 1

###5 – Create an NDArray with values from 1 to 100, with intervals of 3.

###6 – Show the square roots of the values from the NDArray created in exercise 5.

###7 – Change the tenth position of the NDArray created in exercise 5 to double its value.

###8 – Execute the command to create a DataFrame with the data available in the notebook.

In [1]:
dados={'Empresa':['Microsoft', 'Google','Univesp','NVData Analytics','Power Bi Experience','USP'], 'Qtde Func':[1000, 1500,500, 100,100,499], 'Site':['https://www.microsoft.com/pt-br','https://www.google.com/','https://univesp.br/','https://www.nvdata.com.br/','https://powerbiexperience.com/pt/','https://www.usp.br/'],'Instagram':['@microsoft','@google','@univespoficial','@nv_data','@leokarpa','@usp.oficial'],'Criação':[1975,1998,2012,2019,2016,1934], 'País':['EUA','EUA','Brasil','Brasil','Brasil','Brasil']}

###9 – Execute a command that can identify the average number of employees that the listed companies have. Also report the sum of employees that the companies have.

###10 – Show the first 3 rows of the dataframe.

###11 – Show the last 3 rows of the dataframe.

###12 – List only the rows where companies were created in the last 10 years. Report the number of records.

###13 – Let's imagine that in all companies there is 1 manager for every 23 employees. Create a column that shows the number of managers each company would have and then report how many managers we would have in total. (values don't need to be whole numbers, it's just an estimate).